<app-navbar></app-navbar>
<div class="bg-black w-full flex flex-col items-center">
    <div class="bg-black flex flex-col w-full tablet:max-w-720 large-tablet:max-w-960 laptop:max-w-1140">
        <header class="text-white text-7xl ml-auto mr-auto mt-10">
            Punks
        </header>
        <div class="mt-16 flex flex-col tablet:flex-row-reverse">
            <div class="p-6 min-w-50%">
                <img style="width: 450px; height: 450px;" src="../../assets/punk.jpg" [alt]="'punk'">
            </div>
            <div class="flex flex-col justify-center w-full large-tablet:max-w-50% ">
                <h2 class="text-white text-3xl text-center">What are Clean punks!?</h2>
                <div class="text-white text-2xl p-4 text-center">
                    Clean punk are an original generative art piece by an annonmyous artist. They follow the archetype
                    of
                    different types and have similar attributes. There will be 5000 male punks available for mint!
                </div>
            </div>
        </div>
        <div
            class="flex flex-row w-full flex-wrap tablet:max-w-720 large-tablet:max-w-960 laptop:max-w-1140 h-auto justify-center my-28">
            <img id="0" style="width: 170px; height:170px;" src="../../assets/punk4.png" [alt]="'punk'">
            <img id="1" style="width: 170px; height:170px;" src="../../assets/punk5.png" [alt]="'punk'">
            <img id="2" style="width: 170px; height:170px;" src="../../assets/punk6.png" [alt]="'punk'">
            <img id="3" style="width: 170px; height:170px;" src="../../assets/punk7.png" [alt]="'punk'">
            <img id="4" style="width: 170px; height:170px;" src="../../assets/punk8.png" [alt]="'punk'">
            <img id="5" style="width: 170px; height:170px;" src="../../assets/punk9.png" [alt]="'punk'">
            <!-- <img id="6" style="width: 170px; height:170px;" src="../../assets/punk10.png" [alt]="'punk'">
            <img id="7" style="width: 170px; height:170px;" src="../../assets/punk11.png" [alt]="'punk'">
            <img id="8" style="width: 170px; height:170px;" src="../../assets/punk12.png" [alt]="'punk'">
            <img id="9" style="width: 170px; height:170px;" src="../../assets/punk13.png" [alt]="'punk'">
            <img id="10" style="width: 170px; height:170px;" src="../../assets/punk14.png" [alt]="'punk'">
            <img id="11" style="width: 170px; height:170px;" src="../../assets/punk15.png" [alt]="'punk'"> -->
        </div>

        <div class="flex flex-col tablet:flex-row">
            <div class="p-6">
                <img style="width: 450px; height: 450px;" src="../../assets/punk2.png" [alt]="'punk'">
            </div>
            <div class="flex flex-col items-center w-full large-tablet:max-w-50% justify-center ">
                <h2 class="text-white text-3xl text-center">The Creator</h2>
                <div class="text-white text-2xl p-4 text-center mt-8">
                    Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text Placeholder
                    text Placeholder text
                    Placeholder text
                    Placeholder text
                </div>
            </div>
        </div>
        <div
            class="flex flex-row w-full flex-wrap tablet:max-w-720 large-tablet:max-w-960 laptop:max-w-1140 h-auto justify-center my-28">
            <img id="6" style="width: 170px; height:170px;" src="../../assets/punk10.png" [alt]="'punk'">
            <img id="7" style="width: 170px; height:170px;" src="../../assets/punk11.png" [alt]="'punk'">
            <img id="8" style="width: 170px; height:170px;" src="../../assets/punk12.png" [alt]="'punk'">
            <img id="9" style="width: 170px; height:170px;" src="../../assets/punk13.png" [alt]="'punk'">
            <img id="10" style="width: 170px; height:170px;" src="../../assets/punk14.png" [alt]="'punk'">
            <img id="11" style="width: 170px; height:170px;" src="../../assets/punk15.png" [alt]="'punk'">
        </div>

        <div class="mt-16 flex flex-col tablet:flex-row-reverse">
            <div class="p-6">
                <img style="width: 450px; height: 450px;" src="../../assets/punk3.png" [alt]="'punk'">
            </div>
            <div class="flex flex-col items-center max-w-50% ">
                <h2 class="text-white text-3xl text-center">The Developer</h2>
                <div class="text-white text-2xl p-4 text-center mt-8">
                    Development is being done by skerrett and the smart contact is being done Gritz
                </div>
            </div>
        </div>
    </div>
</div>